<!DOCTYPE html>
<html>
  <head>
    <title>Loja Virtual</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= nav_bar brand: "nome_loja", brand_link: root_url, fixed: :top, responsive: true do %>
    <%= form_tag busca_produto_path, method: :get, class: "navbar-form navbar-right" do %>
      <div class="form-group">
        <%= text_field_tag :nome, @nome_a_buscar, class: "form-control" %>
        <%= button_to "Buscar", nil, class: "btn bnt-default" %>
      </div>
    <% end %>
  <% end %>

  <div class="container"></br></br></br>

      <%= yield %>
      

  </div>
  </body>
</html>
